#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&mt {
    tapping-term-ms = <300>;
    flavor = "tap-preferred";
};

&sl {
    release-after-ms = <350>;
};

/ {
    combos {
        compatible = "zmk,combos";
        // both thumb alts
        combo_esc {
            timeout-ms = <150>;
            key-positions = <15 16>;
            bindings = <&kp ESC>;
        };

        // right middle and ring finger
        combo_back {
            timeout-ms = <25>;
            key-positions = <4 5>;
            bindings = <&kp BSPC>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        alpha1 {
//     | W | F | P |            | L | U | Y |
// | A | R | S | T | G |    | M | N | E | I | O |
// | Z | X | C | D | V |    | K | H | , | . | / |
//             |mo1|bsp|    |ent|spc|
            bindings = <

&mt LGUI A &kp W &kp F &kp P &kp G    &kp M &kp L &kp U &kp Y &mt RGUI O

&kp Z &mt LALT R &mt LCTL S &mt LSHIFT T &kp V    &kp K &mt LSHIFT N &mt RCTL E &mt RALT I &kp FSLH

&mo 1 &kp X &kp C &kp D &kp BSPC    &kp ENTER &kp H &kp COMMA &kp DOT &kp SPACE

            >;
        };
        
        num {
//     | 2 | 3 | 4 |            | 7 | 8 | 9 |
// | 1 | < | ^ | v | 5 |    | 6 | ' | - | = | 0 |
// | Q |grv|nub|tab| > |    | [ | ] |nuh| . | ; |
//             |   |   |    |   |   |
            bindings = <

&mt LGUI N1 &kp N2 &kp N3 &kp N4 &kp N5    &kp N6 &kp N7 &kp N8 &kp N9 &mt RGUI N0

&kp Q &mt LALT LEFT &mt LCTL UP &mt LSHIFT DOWN &kp RIGHT    &kp LBKT &mt LSHIFT SINGLE_QUOTE &mt RCTL MINUS &mt RALT EQUAL &kp SEMI

&mo 1 &kp GRAVE &kp NUBS &kp TAB &kp BSPC    &kp ENTER &kp RBKT &kp NUHS &kp DOT &kp SPACE

            >;
        };
    };
};
